.bannerSlider
  position: relative
  width: 100%
  z-index: 1
  margin: 132px auto 0
  &__slide
    background-color: #f4f4f4
  &__text
    position: absolute
    top: 50%
    transform: translateY(-50%)
    max-width: 40%
    left: 15px
  &__slide-title
    color: #414141
    font-size: 16px
    font-weight: 500
    line-height: 102.8%
    margin-bottom: 5px
  &__slide-subtitle
    color: #414141 
    font-size: 10px
    font-weight: 400
    line-height: 103.3%
  &__img
    width: 50%
    margin-right: 0
    margin-left: 50%
    height: 126px
    object-fit: cover
    @media screen and (min-width: 768px)
      width: 100%
      margin-left: 0
      height: 253px